.pdf-viewer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.pdf-viewer-container button {
  margin-left: 10px;
  margin-right: 10px;
  height: 300px;
  width: 40px;
}

.pdf-viewer {
  position: relative;
}

.pdf-viewer p {
  text-align: center;
}

.pdf-selector-button {
  display: block;
  margin: 5px;
  padding: 15px;
  font-size: 16px;
  border-radius: 10px;
}

.pdf-selector-external {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.pdf-selector-external button {
  display: block;
  margin: 5px;
  padding: 15px;
  font-size: 16px;
  border-radius: 10px;
  border: none;
}

.pdf-selector-download-button {
  background-color: #5b5ec0;
  color: white;
}

.pdf-selector-open-button {
  background-color: #008cba;
  color: white;
}

.pdf-selector-external button:hover {
  background-color: #2d3268;
  transition: background-color 0.3s ease;
}

.pdf-selector-download-button:hover {
  background-color: #4a4c7e;
}

.pdf-selector-open-button:hover {
  background-color: #006b89;
}
