.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background-color: #595959;
  bottom: 0;
  left: 0;
  width: 100%;
}

.slider-container {
  position: absolute;
  height: 30px;
  right: 0;
  margin: 20px;
  display: flex;
  align-items: center;
}

.slider-text {
  color: white;
}

.slider {
  position: relative;
  opacity: 0;
  width: 40px;
  height: 20px;
}

.slider-label {
  position: absolute;
  width: 40px;
  height: 20px;
  background-color: #959595;
  border-radius: 10px;
  cursor: pointer;
}

.slider-label:before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 14px;
  height: 14px;
  background-color: #fff;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.slider:checked + .slider-label {
  background-color: #5b5ec0;
}

.slider:checked + .slider-label:before {
  transform: translateX(20px);
}
