.contact-form-container {
  display: flex;
  justify-content: center;
  align-items: top;
  min-height: 100vh;
  overflow-x: hidden;
}

.contact-form-container form {
  width: 400px;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  height: fit-content;
  max-height: calc(100vh - 40px);
  overflow-y: auto;
  align-items: center;
}

.contact-form-container label {
  display: block;
  margin-bottom: 6px;
  font-weight: bold;
}

.contact-form-container input,
textarea {
  width: calc(100% - 16px);
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
  max-height: calc(100% - 130px);
  font-family: inherit;
}

.contact-form-container button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #5b5ec0;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.contact-form-container button:hover {
  background-color: #2d3268;
}

.contact-form-container .message {
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
}

.submitted-container {
  text-align: center;
  margin-top: 100px;
}

.submitted-container h2 {
  font-size: 24px;
  margin-bottom: 16px;
}

.submitted-container p {
  font-size: 16px;
}
